.placeholder {
  font-size: 3rem;
}

body {
  background-image: url('/background.jpg');
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 15px;
}

h1, h2, p, ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: transparent;
  font-size: 20px;

}

article {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: black;
  font-size: 15px;
  width: 50%;
  margin: 150px auto 0;
  text-align: justify;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: rebeccapurple;
  padding: 5px;
  margin: 15px;
  background-color: white;
}



img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 0;
}




@media only screen and  (max-width: 375px) {
  body {
    background-size: contain;
  }

  header, h1, h2, p, ul, .contact, .aboutme, img {
    flex-direction: column;
  }

}