.placeholder {
  font-size: 3rem;
}

body {
  background-image: url('/background.jpg');
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 15px;
}

h1, h2, p, ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: transparent;

}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: red;
  padding: 20px;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
  color: white;
  background-color: transparent;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}




@media only screen and  (max-width: 375px) {
  body {
    background-size: contain;
  }

  header, h1, h2, p, ul, .contact, .aboutme, img {
    flex-direction: column;
  }

}